<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                                   height:100%;
                                   width:100%;
                                   background-image:url("http://media.blizzard.com/d3/media/wallpapers/wallpaper031/wallpaper031-1440x900.jpg");/*your background image*/
                                   background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
                                   background-size:cover;/*this sets the image to fullscreen covering the whole screen*/
                                   /*css hack for ie*/
                                   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
                                   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";

                              }
        </style>
    </head>
    <body class="container-fluid category-index">
        <div>
            <a href="/products"><img src='https://ooo.0o0.ooo/2017/02/26/58b28adb3ff7c.png' ></a>
        </div>
        <div class="row container-fluid col-md-12" style="background-color:rgba(250, 250, 250, 0.15)">
            <div class="row">
                <div  style="margin-left:17%; margin-bottom:-5px">
                    <iframe width="80%" height="315" src="https://www.youtube.com/embed/dLNb0Jd4_ws" frameborder="0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
        <div class="row category-product">
            <% @products.each do |product| %>
                <div class="col-xs-6 col-md-3">
                    <%= link_to product_path(product) do %>
                        <% if product.image.present? %>
                            <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                        <% elsif %>
                            <%= image_tag(product.image_path, :width => 200, :height => 200, class: "thumbnail") %>
                        <% else %>
                            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </body>
</html>
