<div class="row">
  <div class="footerframe">
    <div class="footerframe1">
      <h2 style="text-align:bottom;padding-top:50px">产品服务</h2>
      <hr style="width:50%;color:black"/>
      <p>
        <span><i class="fa fa-plane fa-2x"></i>关于物流</span>
        <span><i class="fa fa-server fa-2x"></i>售后服务</span>
        <span><i class="fa fa-envelope fa-2x"></i>联系我们</span>
      </p>
    </div>
    <div class="footerframe2">

      Copyright ©2017 战网商城<br/>
      design by <b>Superlei</b> and <b>Mechialkun</b>
    </div>
  </div>
</div>
